.navbar {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-image: url(../image/background_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    .logo{
            display: flex;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            text-shadow: 0 0 5px rgb(0 0 0 / 68%);
            gap: 1em;
            position: absolute;
            left: 1em;
            top: 0.5em;
            color: #fff;

            &:hover {
                opacity: 0.7;
            }
            
            img{
                width: 4em;
                height: 4em;
                border-radius: 50%;
            }

            p{
                font-size: 1.7rem;
            }

        } 
}
.childpicture{
    background-image: url(https://cdn.wallpapersafari.com/46/46/hWzl8M.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
.couplepicture{
    background-image: url(https://www.ipsos.com/sites/default/files/styles/max_1300x1300/public/ct/news_and_polls/2022-02/valentines-day.jpg?itok=P73hWLPe);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
