.bookingknappar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 4vw;
}

.bookButton {
    background-size:100% 200%;
    background-image: linear-gradient(to bottom, #198d9a 50%, rgb(255, 255, 255) 50%);
    margin: 1rem auto;
    color: white;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    position: relative;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 80px;
    transition: background-position .7s;

    &:hover {
        background-position: 0 -100%;
        color: black;
    }
}
.closeBtn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0.4em #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    background-color: white;

    &::before {
        content: 'X';
        color: red;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 0 0 0.4em #000000a2;
    }
}

.bookBtn {
    background-color: #198d9a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

    &:hover {
        filter: blur(1px)
    }
}

.restaurantModal {
    display: flex;
    padding: 3rem;
    background: #fff;
    border: 1px solid #666;
    width: 60vw;
    box-shadow: 0 0 50px rgb(0 0 0 / 50%);
    position: fixed;
    left: 20%;
    top: 25%;
    bottom: 30%;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;

    .resDate{
        color:black;
    }
    .resDate{
        color:black;
    }
}

.roomModal {
    display: flex;
    padding: 3rem;
    background: #fff;
    border: 1px solid #666;
    width: 60vw;
    box-shadow: 0 0 50px rgb(0 0 0 / 50%);
    position: fixed;
    left: 20%;
    top: 25%;
    bottom: 30%;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

.spaModal {
    display: flex;
    padding: 3rem;
    background: #fff;
    border: 1px solid #666;
    width: 60vw;
    box-shadow: 0 0 50px rgb(0 0 0 / 50%);
    position: fixed;
    left: 20%;
    top: 25%;
    bottom: 30%;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}