.coupleMenu {

    .partitle{
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2em;
        color: red;
        position: relative;
    }
}