<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminchat</title>
</head>

<body>
    <input class="input" placeholder='Chatta med oss' />
    <div class="chatOutp"></div>
    <button class="btn" onclick="sendMessage()">knapp</button>

    <script>
        const store = require('../store');
        const ws = new WebSocket("ws://localhost:1234/websocket");
        function sendMessage() {
            const mess = document.querySelector('.input');
            const chatOutput = document.querySelector('.chatOutp');
            const jsonMess = JSON.stringify(mess.value);
            store.state.WebSocket.send(jsonMess);
            chatOutput.innerHTML += mess.value + '<br/>'
            
        }

        function checkWebsocket() {
            ws.addEventListener("open", () => {
                console.log("We are connected");
                });
        }
        window.onload = checkWebsocket();
    </script>
</body>

</html>