.navbar {
    width: 100vw;
    min-height: 11em;
    height: fit-content;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    div {
        display: flex;
        align-items: center;
        height: 4em;
        font-size: 1em;  
    }

    .headerMeny {
        display: flex;
        gap: 1em; 

        a {
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            .fa-solid .fa-cart-arrow-down {
                font-size: 2rem;
            }
        } 
    }

    .resname{
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 3em;
            
            .fa-solid{
                display: flex;
                margin: 1em;
                color: #fff;
                font-style: italic;
            } 
        }
          
}
