.navbar {
    width: 100vw;
    min-height: 20em;
    height: fit-content;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    div {
        display: flex;
        align-items: center;
        height: 4em;
        font-size: 1em;  
    }

    .resname{
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 3em;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.676);
            
            img{
                width: 2em;  
            } 
            .date{
                display: flex;
                font-size: 1rem;
                width: 1em;
            }
        } 
}
.childpicture{
    background-image: url(https://cdn.wallpapersafari.com/46/46/hWzl8M.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
.couplepicture{
    background-image: url(https://www.ipsos.com/sites/default/files/styles/max_1300x1300/public/ct/news_and_polls/2022-02/valentines-day.jpg?itok=P73hWLPe);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}
