main {
    margin: 5em 0 15em 0;

    header {
        position: relative;
        margin-top: 1em;

        h1 {
            color: #1e73be;
            letter-spacing: 0em;
            font-size: 5rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            padding-top: 0.1em;
            font-family: 'Open Sans', sans-serif;
        }

        p {
            position: absolute;
            left: 50%;
            top: 0px;
            font-size: 3rem;
            transform: translate(-50%, -1.5em);
        }

        .child {
            transform: translate(1em, 0.3em) rotate(-20deg);
            color: hotpink;
        }
    }

    .container {
        display: flex;
        gap: 2em;
        margin: 1em 5em;

        h2 {
            font-size: 1.8rem;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 2em;
        }

        article {
            position: relative;

            h3 {
                display: flex;
                justify-content: space-between;
                color: #2f2f2f;
                font-weight: 400;
                font-size: 1rem;                
            }

            .dotted {
                border-bottom: 1px dashed #000;
            }

            p {
                color: #636363;
                font-weight: 400;
                font-size: 1rem;
            }
        }

        .menu_left {
            width: 50%;
        }

        .menu_right {
            width: 50%;
        }
    }
}



