main {
    margin: 5em 0 15em 0;

    header {
        position: relative;
        margin: 1em 0;

        h1 {
            color: #1e73be;
            letter-spacing: 0em;
            font-size: 5rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            padding-top: 0.1em;
            font-family: 'Open Sans', sans-serif;
        }

        p {
            position: absolute;
            left: 50%;
            top: 0px;
            font-size: 3rem;
            transform: translate(-50%, -1.5em);
        }

        .child {
            transform: translate(1em, 0.3em) rotate(-20deg);
            color: hotpink;
        }

        .heart {
            background-color: red;
            display: inline-block;
            height: 30px;
            transform: translate(3em, 0.1em) rotate(-45deg);
            width: 30px;

            &:before,
            &:after {
                content: "";
                background-color: red;
                border-radius: 50%;
                height: 30px;
                position: absolute;
                width: 30px;
            }

            &:before {
                top: -15px;
                left: 0;
            }

            &:after {
                left: 15px;
                top: 0;
            }
        }
        .heart2 {
            background-color: red;
            display: inline-block;
            height: 30px;
            transform: translate(-3.6em, 0.1em) rotate(-45deg);
            width: 30px;

            &:before,
            &:after {
                content: "";
                background-color: red;
                border-radius: 50%;
                height: 30px;
                position: absolute;
                width: 30px;
            }

            &:before {
                top: -15px;
                left: 0;
            }

            &:after {
                left: 15px;
                top: 0;
            }
        }

        .menu_navbar {
            display: flex;
            height: 3em;
            width: fit-content;
            margin-left: 5em;
            gap: 1em;

            .flex {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                select {
                    width: 8em;
                    text-transform: capitalize;
                }
            }
        }
    }

    .container {
        display: flex;
        gap: 2em;
        margin: 1em 5em;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        h2 {
            font-size: 1.8rem;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 2em;
        }

        article {
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 2em 0 5em 0;

            .flex_title {
                display: flex;
                justify-content: space-between;
                position: relative;

                &:hover{
                    cursor: pointer;

                    h3 {
                        color: #1e73be;
                        transition: all 0.8s;
                    }

                    p {
                        color: #1e73be;
                        transition: all 0.8s;
                    }

                    aside {
                        color: #1e73be;
                        transition: all 0.8s;
                    }

                    .dotted_top {
                        border-color: #1e73be;
                        transition: all 0.8s;
                    }
                }

                .dotted_top {
                    position: absolute;
                    top: 25px;
                    width: 100%;
                    border-bottom: 1px dashed #000;
                    z-index: -1;
                }
            }

            h3 {
                color: #2f2f2f;
                font-weight: 400;
                font-size: 1rem;
                background-color: white;
                width: fit-content;
                padding-right: 0.5em;     
            }

            p {
                color: #636363;
                font-weight: 400;
                font-size: 1rem;
                background-color: white;
                width: fit-content;
            }

            .menu_price {
                padding-left: 0.5em;
            }
        }

        .menu_left {
            width: 100%;
            margin-top: 10em;
        }

        .menu_right {
            width: 100%;
        }

        .menu_middle {
            width: 100%;
        }
    }
}



