*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.cart {
  display: flex;
  background-color: #ffffff;
  min-width: 15em;
  width: 35vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 1em 0 #000;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
.cart .closeCartButton {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
.cart .closeCartButton::before {
  content: "X";
  display: flex;
  color: red;
  font-weight: 600;
}
.cart .closeCartButton:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.6352941176);
}
.cart h1 {
  margin-top: 3em;
}

.stop {
  overflow-y: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-image: url(../image/background_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.navbar .logo {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.68);
  gap: 1em;
  position: absolute;
  left: 1em;
  top: 0.5em;
  color: #fff;
}
.navbar .logo:hover {
  opacity: 0.7;
}
.navbar .logo img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.navbar .logo p {
  font-size: 1.7rem;
}

.childpicture {
  background-image: url(https://cdn.wallpapersafari.com/46/46/hWzl8M.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.couplepicture {
  background-image: url(https://www.ipsos.com/sites/default/files/styles/max_1300x1300/public/ct/news_and_polls/2022-02/valentines-day.jpg?itok=P73hWLPe);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.cards {
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6em 1em;
  position: relative;
  align-items: center;
  /*****************************/
}
.cards h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}
.cards .flexIt {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.cards .front {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  width: 100%;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.cards .front::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: hsla(186deg, 72%, 35%, 0.678);
  backface-visibility: hidden;
  border-radius: 10px;
}
.cards .back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  width: 100%;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  background-color: red;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.cards .inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  backface-visibility: hidden;
}
.cards .inner h2 {
  text-align: center;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.2rem;
}
.cards .inner p {
  letter-spacing: 0.12em;
  font-size: 1rem;
  margin-bottom: 5rem;
  position: relative;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.cards .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}
.cards .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}
.cards .spa {
  overflow: hidden;
  position: relative;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 15em;
  height: 350px;
  display: flex;
  align-items: center;
}
.cards .spa .back {
  background-image: url(../image/spa.jpg);
}
.cards .spa:hover {
  cursor: pointer;
}
.cards .spa:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .spa:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .event {
  overflow: hidden;
  position: relative;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 15em;
  height: 350px;
  display: flex;
  align-items: center;
}
.cards .event .back {
  background-image: url(../image/event.jpg);
}
.cards .event:hover {
  cursor: pointer;
}
.cards .event:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .event:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .restaurant {
  overflow: hidden;
  position: relative;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 15em;
  height: 350px;
  display: flex;
  align-items: center;
}
.cards .restaurant .back {
  background-image: url(../image/resturang.jpg);
}
.cards .restaurant:hover {
  cursor: pointer;
}
.cards .restaurant:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .restaurant:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .booking {
  overflow: hidden;
  position: relative;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 15em;
  height: 350px;
  display: flex;
  align-items: center;
}
.cards .booking .back {
  background-image: url(../image/room.jpg);
}
.cards .booking:hover {
  cursor: pointer;
}
.cards .booking:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.cards .booking:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.weather {
  display: flex;
  position: absolute;
  right: 1em;
  top: 1em;
}
.weather p {
  padding: 1em;
}

.dateTime {
  display: flex;
  position: absolute;
  right: 1em;
  top: 0;
}
.dateTime p {
  padding: 0 1em;
}

.headerMeny {
  display: flex;
  gap: 1em;
  position: fixed;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  width: 4em;
  box-shadow: -3px 0 9px rgba(0, 0, 0, 0.2901960784);
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  padding: 1em 0;
  background-color: #fff;
  transition: 0.5s all;
  z-index: 1;
}
.headerMeny:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: -3px 0 9px rgba(0, 0, 0, 0.4745098039);
}
.headerMeny .showCartButton {
  font-size: 1.5rem;
}

.bookingknappar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 4vw;
}

.info {
  text-align: center;
  margin-bottom: 2em;
}

.bookButton {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #198d9a 50%, rgb(255, 255, 255) 50%);
  margin: 1rem auto;
  color: white;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  position: relative;
  display: block;
  overflow: hidden;
  width: 250px;
  height: 80px;
  transition: background-position 0.7s;
}
.bookButton:hover {
  background-position: 0 -100%;
  color: black;
}

.closeBtn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  background-color: white;
}
.closeBtn::before {
  content: "X";
  color: red;
  font-weight: 600;
}
.closeBtn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.6352941176);
}

.bookBtn {
  background-color: #198d9a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.bookBtn:hover {
  filter: blur(1px);
}

.restaurantModal {
  display: flex;
  padding: 3rem;
  background: #fff;
  border: 1px solid #666;
  width: 60vw;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 20%;
  top: 25%;
  bottom: 30%;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
}
.restaurantModal .resDate {
  color: black;
}
.restaurantModal .resDate {
  color: black;
}

.roomModal {
  display: flex;
  padding: 3rem;
  background: #fff;
  border: 1px solid #666;
  width: 60vw;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 20%;
  top: 25%;
  bottom: 30%;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
}

.spaModal {
  display: flex;
  padding: 3rem;
  background: #fff;
  border: 1px solid #666;
  width: 60vw;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 20%;
  top: 25%;
  bottom: 30%;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
}

.chat {
  display: flex;
  background-color: #ffffff;
  min-width: 15em;
  width: 35vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 1em 0 #000;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
.chat .closeChatBtn {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
.chat .closeChatBtn::before {
  content: "X";
  display: flex;
  color: red;
  font-weight: 600;
}
.chat .closeChatBtn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.6352941176);
}
.chat h1 {
  margin-top: 3em;
}
.chat .btn, .chat .adminBtn {
  background-color: #198d9a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.chat .btn:hover, .chat .adminBtn:hover {
  filter: blur(1px);
}
.chat .showAdminChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  touch-action: manipulation;
}
.chat .showAdminChat .showAdminChat:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.chat .input, .chat .admin-input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  margin-top: 2em;
  padding: 1rem;
  font-size: 1rem;
  color: #c0b9b9;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chat .input-group, .chat .admin-input-group {
  position: relative;
}
.chat .input:focus, .chat .input:valid, .chat .admin-input:focus, .chat .admin-input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}
.chat .input:focus ~ label, .chat .admin-input ~ label, .chat input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  padding: 0 0.2em;
  background-color: white;
  color: #c0b9b9;
}
.chat .user-label {
  position: absolute;
  margin-top: 2em;
  left: 15px;
  color: #c0b9b9;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chat .admin-user-label {
  position: absolute;
  margin-top: 2em;
  left: 15px;
  color: #c0b9b9;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chat .chatOutput, .chat .adminChatOutput {
  text-decoration: dotted rgb(137, 135, 135);
}

.stop {
  overflow-y: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.chatmenu {
  display: flex;
  gap: 3em;
  position: fixed;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  width: 4em;
  box-shadow: -3px 0 9px rgba(0, 0, 0, 0.2901960784);
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  padding: 1em 0;
  background-color: #fff;
  transition: 0.5s all;
  z-index: 1;
}
.chatmenu:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: -3px 0 9px rgba(0, 0, 0, 0.4745098039);
}
.chatmenu .chatbtn {
  font-size: 1.5rem;
}

main {
  margin: 5em 0 0 0;
}
main header {
  position: relative;
  margin: 1em 0;
}
main header h1 {
  color: #1e73be;
  letter-spacing: 0em;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.1em;
  font-family: "Open Sans", sans-serif;
}
main header p {
  position: absolute;
  left: 50%;
  top: 0px;
  font-size: 3rem;
  transform: translate(-50%, -1.5em);
}
main header .child {
  transform: translate(1em, 0.3em) rotate(-20deg);
  color: hotpink;
}
main header .heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  transform: translate(3em, 0.1em) rotate(-45deg);
  width: 30px;
}
main header .heart:before, main header .heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
main header .heart:before {
  top: -15px;
  left: 0;
}
main header .heart:after {
  left: 15px;
  top: 0;
}
main header .heart2 {
  background-color: red;
  display: inline-block;
  height: 30px;
  transform: translate(-3.6em, 0.1em) rotate(-45deg);
  width: 30px;
}
main header .heart2:before, main header .heart2:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
main header .heart2:before {
  top: -15px;
  left: 0;
}
main header .heart2:after {
  left: 15px;
  top: 0;
}
main header .menu_navbar {
  display: flex;
  height: 3em;
  width: fit-content;
  margin-left: 5em;
  gap: 1em;
}
main header .menu_navbar .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main header .menu_navbar .flex select {
  width: 8em;
  text-transform: capitalize;
}
main .container {
  display: flex;
  gap: 2em;
  margin: 1em 5em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
main .container h2 {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
main .container article {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2em 0 5em 0;
}
main .container article .flex_title {
  display: flex;
  justify-content: space-between;
  position: relative;
}
main .container article .flex_title:hover {
  cursor: pointer;
}
main .container article .flex_title:hover h3 {
  color: #1e73be;
  transition: all 0.8s;
}
main .container article .flex_title:hover p {
  color: #1e73be;
  transition: all 0.8s;
}
main .container article .flex_title:hover aside {
  color: #1e73be;
  transition: all 0.8s;
}
main .container article .flex_title:hover .dotted_top {
  border-color: #1e73be;
  transition: all 0.8s;
}
main .container article .flex_title .dotted_top {
  position: absolute;
  top: 25px;
  width: 100%;
  border-bottom: 1px dashed #000;
  z-index: -1;
}
main .container article h3 {
  color: #2f2f2f;
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  width: fit-content;
  padding-right: 0.5em;
}
main .container article p {
  color: #636363;
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  width: fit-content;
}
main .container article .menu_price {
  padding-left: 0.5em;
}
main .container .menu_left {
  width: 100%;
  margin-top: 10em;
}
main .container .menu_right {
  width: 100%;
}
main .container .menu_middle {
  width: 100%;
}

.childrenMenu .childtitle {
  background-color: #1e73be;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 3em;
  color: hotpink;
  position: relative;
}
.childrenMenu .childtitle::before, .childrenMenu .childtitle::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 50%;
  width: 3em;
  height: 3em;
  transform: translateY(-50%) rotate(45deg);
}
.childrenMenu .childtitle::before {
  left: -1.5em;
}
.childrenMenu .childtitle::after {
  right: -1.5em;
}
.childrenMenu .grass {
  background-color: #72bf6a;
}

.coupleMenu .partitle {
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
  color: red;
  position: relative;
}

.activity {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.activity header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10em;
}
.activity header h2 {
  font-size: 2rem;
}
.activity header p {
  position: unset;
  font-size: 1.2rem;
  transform: unset;
  margin: 2em;
  max-width: 1000px;
}
.activity .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 3em;
  align-content: center;
  justify-content: center;
}
.activity .container .reverse {
  flex-direction: row-reverse !important;
}
.activity .container .activityCard {
  background-color: #eaeaea;
  max-width: calc(1200px - 4em);
  min-height: 30em;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4705882353);
}
.activity .container .activityCard .textPanel {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}
.activity .container .activityCard .textPanel h2 {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1.2rem;
}
.activity .container .activityCard .textPanel p {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}
.activity .container .activityCard .imgCard {
  position: relative;
  min-width: 20em;
  width: 65%;
}
.activity .container .activityCard .imgCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10em 0;
}
.explore header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10em;
}
.explore header h2 {
  font-size: 2rem;
}
.explore header p {
  position: unset;
  font-size: 1.2rem;
  transform: unset;
  margin: 2em;
  max-width: 1000px;
}
.explore .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 1em;
  justify-content: center;
}
.explore .container .imgCard {
  position: relative;
  min-width: 20em;
  width: 30%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #000;
}
.explore .container .imgCard h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.explore .container .imgCard button {
  width: 10em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-shadow: 0 0 10px #000;
  border: 1px solid #fff;
  font-size: 1rem;
  transition: 1s all;
}
.explore .container .imgCard button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.explore .container .imgCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.food {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10em 0 0 0;
  background-image: url(../image/home/food_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.food header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10em 0;
  color: #fff;
}
.food header h2 {
  text-shadow: 0 0 5px #000;
  font-size: 2rem;
}
.food .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 1em;
  justify-content: center;
  margin-bottom: 10em;
}
.food .container .imgCard {
  position: relative;
  min-width: 20em;
  width: 30%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 1em;
}
.food .container .imgCard h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin: 0;
  font-size: 1.5rem;
}
.food .container .imgCard p {
  color: #fff;
  padding: 0 2em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-shadow: 0 0 10px #000;
}
.food .container .imgCard button {
  width: 10em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-shadow: 0 0 10px #000;
  border: 1px solid #fff;
  font-size: 1rem;
  transition: 1s all;
}
.food .container .imgCard button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.room {
  position: relative;
  height: 35em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  margin: 10em 0;
  justify-content: center;
}
.room img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.room header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.room header h2 {
  font-size: 2rem;
  text-shadow: 0 0 5px #fff;
}
.room header p {
  position: unset;
  font-size: 1.2rem;
  transform: unset;
  margin: 2em;
  max-width: 600px;
  text-shadow: 0 0 5px #fff;
}
.room header button {
  width: 10em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-shadow: 0 0 10px #000;
  border: 1px solid #fff;
  font-size: 1rem;
  transition: 1s all;
}
.room header button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.events {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10em 0;
}
.events header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10em;
}
.events header h2 {
  font-size: 2rem;
}
.events header p {
  position: unset;
  font-size: 1.2rem;
  transform: unset;
  margin: 2em;
  max-width: 1000px;
}
.events .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 1em;
  justify-content: center;
}
.events .container .imgCard {
  position: relative;
  min-width: 20em;
  width: 30%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #000;
}
.events .container .imgCard h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.events .container .imgCard button {
  width: 10em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  text-shadow: 0 0 10px #000;
  border: 1px solid #fff;
  font-size: 1rem;
  transition: 1s all;
}
.events .container .imgCard button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.events .container .imgCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 6em;
  gap: 1em;
  align-items: center;
  /* border: 2px inset rgba(79,79,79,0.09); */
}
.row .column {
  display: flex;
  width: 40vw;
}

h1 {
  margin: 1.9em;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  text-decoration: overline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}

.p-name {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}

.p-describe {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.container {
  width: 100%;
  margin: 1em 0 !important;
  gap: 1em !important;
}

.container img {
  position: relative;
  min-width: 20em;
  width: 30%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #000;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 6em;
  gap: 1em;
  align-items: center;
  /* border: 2px inset rgba(79,79,79,0.09); */
}
.row .column {
  display: flex;
  width: 40vw;
}

h1 {
  margin: 1.9em;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  text-decoration: overline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}

.p-name {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}

.p-describe {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.containerHF {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  gap: 1em;
  justify-content: center;
}

.containerHF img {
  position: relative;
  width: auto;
  height: 20em;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #000;
}

footer {
  width: 100vw;
  min-height: 20em;
  height: auto;
  display: flex;
  background-color: #222;
  color: #858585;
  margin-top: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
footer section {
  margin: 2em 0 5em 0;
}
footer section h2 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
footer section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer section ul li {
  margin: 1em 0;
}
footer section a {
  font-size: 1rem;
  color: #858585;
}
footer section .icons {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
footer section .icons a {
  font-size: 20px;
  color: white;
}
