<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurangmeny</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./assets/image/restaurant_icon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2>Totalsumma</h2>
        <select>
            <option>Barnmeny</option>
            <option>Vuxenmeny</option>
            <option>Parmeny</option>
        </select>
        <input type="submit">
    </header>

    <main id="app">
        <header>
            <h1>{{title}}</h1>
            <p v-if="guest !== 'barn'">{{ guest }}</p>
            <p class="child" v-else>{{ guest }}</p>

        </header>
        
        <div class="container">
            <div class="menu_left">
                <h2>{{menu.first.title}}</h2>
                <article v-for="value in menu.first.dish">
                    <h3>{{value.name}}
                        <span>{{value.price}}:-</span>
                    </h3>
                    <div class="dotted"></div>
                    <p>{{value.describe}}</p>
                </article>
            </div>
            <div class="menu_right">
                <h2>{{menu.second.title}}</h2>
                <article v-for="value in menu.second.dish">
                    <h3>{{value.name}}
                        <span>{{value.price}}:-</span>
                    </h3>
                    <div class="dotted"></div>
                    <p>{{value.describe}}</p>
                </article>
            </div>
            <div class="menu_middle">
                <h2>{{menu.third.title}}</h2>
                <article v-for="value in menu.third.dish">
                    <h3>{{value.name}}
                        <span>{{value.price}}:-</span>
                    </h3>
                    <div class="dotted"></div>
                    <p>{{value.describe}}</p>
                </article>
            </div>
        </div>
    </main>

    <footer>
        <section>
            <h2>Kontakt</h2>
            <p>Klarabergsvägen 24, 653 78 Stockholm</p>
            <p>056-4054050</p>
            <p>blabla@blabla.se</p>
                
      
        </section>
        
        <section>
            <h2>Öppettider</h2>
            <p>Måndag, Tisdag, Onsdag, Torsdag 16.00 - 22.30</p>
            <p>Fredag 15.00 - 23.00</p>
            <p>Lördag 13.00 - 23.00</p>
            <p>Söndag 13.00 - 22.00</p>
        </section>
    </footer>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./vue/app.js"></script>
</body>
</html>